html{
    border: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.header_container {
    background-color: #353A40;
}
.logo_s {
    width: 110px;
    height: auto;
}
.header_nav-title{
    color: white;
}
/* --- */
.nav {
    align-content: center;
}
.nav-link {
    color: #9A9796;
    font-size: 14px;
    font-weight: bold;
}
.nav-link:hover {
    color: #f4f1f0;
}
.nav-link.active {
    color: #ffffff;
}
.color-action {
    color: #2B9242;
}

/* section titles */
.section-title {
    text-align: center;
}
.section-title span {
    font-size: 10px;
}
.section-title p {
    font-size: 30px;
    font-weight: 600;
}

/* section two */
.section_one-container {
    background-image: url(./assets/img/ba1.jpg);
    height: 780px;
    margin-top: -25px;
    /* filter: grayscale(10%); */
    /* opacity: 0.5; */
    background-size: cover;
    background-position: 25% 75%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 8px;
    display: grid;
align-items: center;
}
.section_one-container_text {
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    height: 780px;
    padding-left: 50%;
    padding-right: 8%;
    text-align: right;
    color: white;
    display: grid;
    align-content: flex-end;
    padding-bottom: 230px;
}
.btn-trasparent {
    border: solid 1px white;
    color: white;
}
.btn-trasparent:hover {
    background-color: rgba(97, 97, 97, 0.743);
    color: white;
}
.btn-success {
    background-color: #27A844;
}

/* section two */
.section_two {
    margin-bottom: 50px;
}
.section_two-container_card {
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* card */
.pill_type {
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 4px;
    font-weight: bold;
    text-align: center;
}
.btn-js {
    background-color: #FEC107;
    color: black;
}
.btn-react {
    background-color: #17A2B7;
    color: rgb(255, 255, 255);
}
.btn-business {
    background-color: #6D767F;
    color: rgb(255, 255, 255);
}
.btn-startups {
    background-color: #DC3644;
    color: rgb(255, 255, 255);
}
.card-title {
    font-weight: 600;
}

/* section tree */
.section_tree{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section_tree img{
    width: 100%;
}
.section_tree-right{
    background-color: #353A40;
    color: white;
    padding-left: 22px;
    padding-top: 22px;
}

/* section fourth - form*/
.section_fourth {
    display: grid;
    place-content: center;
    margin-bottom: 20px;
}
.section_fourth form{
    color: #6c757d;
    max-width: 920px;
    margin-bottom: 24px;
}
.from_container-name {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.from_container-textarea textarea {
    font-size: 18px;
    color: #6c757d;
    height: 130px;
}
.btn-form_submit{
    background-color: #96C93E;
    color: white;
    font-weight: 600;
}

/* footer */
.footer_bg {
    background-color: #1E465F;
    color: white;
}
.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_li {
    color: white;
    text-align: center;
}

.contanerMensaje { 
    height: 300px;
background-color: #e8e8e8;
place-content: center;
place-items: center;
display: grid;
}